/*cabeçalho*/

/*H1 logo*/
.Projects {
    color: white;
    position: relative;
    left: 20px;
    bottom: 50px;
    font-size: 300%;
}

/*DG da logo*/
.DG-logo {
    color: white;
    position: relative;
    left: 55px;
    bottom: -8px;
    font-size: 400%;
}

/*circulo da logo*/
.logo {
    width: 200px; /* Define a largura do círculo */
    height: 150px; /* Define a altura do círculo (igual à largura para criar um círculo perfeito) */
    background-color: #3C3A88; /* Define a cor de fundo (pode ser qualquer cor) */
    border-radius: 50%; /* Define o raio de borda para 50% (transforma o quadrado em um círculo) */
    position: relative;
    left: 20px;
    top: -25px;
}

/*Navbar*/
.barra-navegacao {
    position: relative;
    top: -150px;
    right: -1000px; /* Mude 'right' para 'left' se você quer que esteja no lado esquerdo. */
  }
  
  .barra-navegacao ul {
    list-style-type: none;
    font-size: 150%;
    padding: 0;
  }
  
  .barra-navegacao li {
    display: inline-block;
    margin-right: 50px;
  }
  
  .barra-navegacao a {
    color: white;
    text-decoration: none;
  }


/* Cor de fundo do site */
.corpo {
    background-image: linear-gradient(to left, #32318e, #191919);
    height: 200vh;
}

/*cabeçalho*/


/*H1 logo*/
.Projects {
    color: white;
    position: relative;
    left: 20px;
    bottom: 50px;
    font-size: 300%;
}

/*DG da logo*/
.DG-logo {
    color: white;
    position: relative;
    left: 55px;
    bottom: -8px;
    font-size: 400%;
}

/*circulo da logo*/
.logo {
    width: 200px; /* Define a largura do círculo */
    height: 150px; /* Define a altura do círculo (igual à largura para criar um círculo perfeito) */
    background-color: #3C3A88; /* Define a cor de fundo (pode ser qualquer cor) */
    border-radius: 50%; /* Define o raio de borda para 50% (transforma o quadrado em um círculo) */
    position: relative;
    left: 20px;
    top: -25px;
}

/*Navbar*/
.barra-navegacao {
    position: relative;
    top: -150px;
    right: -1000px; /* Mude 'right' para 'left' se você quer que esteja no lado esquerdo. */
  }
  
  .barra-navegacao ul {
    list-style-type: none;
    font-size: 150%;
    padding: 0;
  }
  
  .barra-navegacao li {
    display: inline-block;
    margin-right: 50px;
  }
  
  .barra-navegacao a {
    color: white;
    text-decoration: none;
  }


/* Cor de fundo do site */
.corpo {
    background-image: linear-gradient(to left, #32318e, #191919);
    height: 200vh;
}
